/* STUB - Start Global Rules */
:root {
  --background-color: #aeaeae;
  --secondary-bg:#9787a4;
  --text-color: #000;
  --purple: #454fbc;
  --teal: #7503a5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", serif;
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
}
.dark-mode {
   --background-color: #000430;
   --secondary-bg:#171c48;
   --text-color: #fff;
   --purple: #828dff;
   --teal: #24feee;
}
/* STUB - End Global Rules */
/* SECTION - Start Pop Up */
.over-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: calc(100% + (100vh - 100%));
  z-index: -1;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 1s;
  overflow: hidden;
}
.pop-up {
  width: 40%;
  height: 200px;
  background-color: var(--secondary-bg);
  border-radius: 25px;
  position: relative;
  top: 5%;
  transform: translateY(-100%);
  padding: 1rem;
  border: 2px solid var(--teal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 1s;
}
.pop-up .close {
  position: absolute;
  right: -0.5px;
  top: -0.5px;
  background-color: rgb(253, 46, 10);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 12px;
  cursor: pointer;
  transition: all .4s;
}
.pop-up .close:hover {
  background-color: rgb(135, 22, 3);
}
.pop-up h3 {
  font-size: 1.7rem;
}
.pop-up h3 i {
  padding-left: 0.8rem;
  color: goldenrod;
  font-size: 1.5rem;
}
.pop-up p {
  font-size: 1rem;
  padding: .8rem 1.5rem 0;
  text-wrap: stable;
}
.pop-up p i {
  color: var(--teal);
  padding-left: .6rem;
  font-size: 1.4rem;
}
@media (max-width: 767px) {
  .pop-up {
    width: 90%;
  }
  .pop-up h3 {
    font-size: 1.5rem;
  }
  .pop-up p {
    font-size: 0.9rem;
  }
}
.button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
  margin-top: 0.5rem;
}
.svgIcon {
  width: 13px;
  transition-duration: .3s;
}
.svgIcon path {
  fill: white;
}
.button:hover {
  width: 110px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}
.button:hover .svgIcon {
  width: 40px;
  transition-duration: .3s;
  transform: translateY(60%);
}
.button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}
.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}
/* SECTION - End Pop Up */
/* SECTION - Start Main Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 600px;
    margin: 60px auto 0;
    position: relative;
    padding-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .container {
    width: 80%;
  }
}
/* SECTION - End Main Container */
/* SECTION - Start Stats Container */
.stats-container {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 90%;
    position: relative;
}
@media (max-width: 767px) {
  .stats-container {
    width: 100%;
  }
  .stats-container .details h1 {
    font-size: 1.4rem;
  }
}
.progress {
  position: absolute;
  width: 70%;
  height: 7px;
  background-color: var(--secondary-bg);
  margin-top: 15px;
  border-radius: 3px;
}
.progress .progress-bar {
  background-color: var(--teal);
  border-radius: 3px;
  height: 100%;
  position: absolute;  
  transition: all 0.4s ease;
}
.stats-numbers {
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--purple);
  }
  .numbers {
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 767px) {
  .stats-numbers {
    width: 4rem;
    height: 4rem;
  }
  .numbers {
    font-size: 1.2rem;
  }
}
/* SECTION - End Stats Container */
/* SECTION - Start Add Task Field */
.form {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding:18px;
    border: 2px solid var(--purple);
    border-radius: 20px;
}
.form input {
    all: unset;
    caret-color: var(--purple);
    padding: 10px 7px;
    border-bottom: 1px solid var(--purple);
    margin-right: 12px;
    width: 90%;
    transition: all 0.6s;
}
@media (max-width: 767px) {
  .form {
    width: 100%;
  }
}
.form input:focus {
  border-bottom: 0;
}
#addTask {
    border: none;
    border-radius: 10px;
    position: relative;
    padding: 0.5em 1.2em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: var(--purple);
    z-index: 1;
    font-family: inherit;
    font-weight: bold;
  }
  @media (max-width: 767px) {
    #addTask {
      padding: 0.3em 1.1em;
    }
  }
  #addTask span {
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 3px solid var(--purple);
  }

  #addTask span::before {
    content: "";
    display: block;
    position: absolute;
    width: 5%;
    height: 500%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  #addTask:focus span::before,
  #addTask:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: var(--purple);
  }
  #addTask:focus,
  #addTask:hover {
    color: var(--text-color);
  }
  #addTask:active span::before {
    background: #2751cd;
  }
  /* SECTION - End Add Task Field */
  /* SECTION - Start Tasks List */
  .task-list {
    width: 100%;
    background-color: var(--background-color);
    padding: 30px;
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 20px;
  border: 2px solid var(--purple);
  border-radius: 20px;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .task-list {
    width: 100%;
  }
}
li.dragging :where(.text, .icons) {
  opacity: 0;
}
.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--purple);
}
@media (max-width: 767px) {
  .task-list li {
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }
}
.text {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 0.5rem;
}
.text input {
  display: inline-block;
}
.cbx {
  position: relative;
  left: 2px;
  top: 4px;
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid var(--purple);
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
  padding-right: 1rem;
}
.cbx:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 5px;
  width: 6px;
  height: 11px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  transition: all 0.3s ease;
  transition-delay: 0.15s;
 }
 .lbl {
   margin-left: 5px;
   vertical-align: middle;
  cursor: pointer;
 }
 .chbx:checked ~ .cbx {
   border-color: transparent;
   background: #6871f1;
   animation: jelly 0.6s ease;
  }
  .chbx:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
  .chbx:checked ~ p {
   color: var(--teal);
   text-decoration: line-through;
  }
  .task-list li .text p {
    font-size: 1.05rem;
  transition: all 0.3s ease;
  margin-left: 0.5rem;
  text-wrap: pretty;
}
@media (max-width: 767px) {
  .task-list li .text p {
    font-size: .9rem;
  }
}
#edit,
#delete {
  all: unset;
}
.task-list li .icons {
  display: flex;
  gap: 1.3rem;
}
@media (max_width: 767px) {
  .task-list li .icons {
    display: block;
    width: 100%;
    text-align: end;
  }
}
.task-list li .icons i {
  font-size: 1.6rem;
  cursor: pointer;
}
.task-list li .icons #edit i {
  color: #dce96d;
}
.task-list li .icons #delete i {
 color: rgb(196, 39, 12);
}
body.dark-mode .task-list li .icons #delete i {
  color: tomato;
}
.hidden-xs-up {
 display: none!important;
}
@media (max-width: 767px) {
  .task-list li .icons i {
    font-size: 1.3rem;
  }
  .task-list li .icons i:nth-child(1) {
    padding-right: 0.7rem;
  }
}
  /* SECTION - End Tasks List */
 /* SECTION - Start Switch Mode Btn */
.switch {
  font-size: 17px;
  position: relative;
  left: 90%;
  top: 2rem;
  display: inline-block;
  width: 64px;
  height: 34px;
}
@media (max-width: 767px) {
  .switch {
    left: 80%;
  }
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}
.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
.sun svg {
  animation: rotate 15s linear infinite;
}
.switch:hover.moon svg {
  animation: tilt 5s linear infinite;
}
.input:checked + .slider {
  background-color: #183153;
}
.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}
.input:checked + .slider:before {
  transform: translateX(30px);
}
 /* SECTION - End Switch Mode Btn */
/* SECTION - Start Animation */
@keyframes jelly {
  from {
   transform: scale(1, 1);
  }
  30% {
   transform: scale(1.25, 0.75);
  }
  40% {
   transform: scale(0.75, 1.25);
  }
  50% {
   transform: scale(1.15, 0.85);
  }
  65% {
   transform: scale(0.95, 1.05);
  }
  75% {
   transform: scale(1.05, 0.95);
  }
  to {
   transform: scale(1, 1);
  }
 }
@keyframes rotate {
  
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/* SECTION - End Animation */
